extends layout

block content
  h1= title
  p Welcome to the #{title}
  ul Try:
    li 
      a(href="/users/") /users
    li 
      a(href="/lockers/") /lockers
    li 
      a(href="/petitions/") /petitions
    li 
      a(href="/messages/") /messages