extends layout

block content
  h1= title
  p Welcome to the #{title}
  ul Try:
    li 
      a(href="/api/users/") /users
    li 
      a(href="/api/lockers/") /lockers
    li 
      a(href="/api/petitions/") /petitions
    li 
      a(href="/api/messages/") /messages